3606.diff
administrator
bin
build
build.xml
cache
cli
components
configuration.php
CONTRIBUTING.md
foo.txt
htaccess.txt
images
includes
index.php
installation
language
layouts
libraries
LICENSE.txt
logs
media
modules
phpunit.xml.dist
plugins
README.md
README.txt
robots.txt.dist
templates
tests
tmp
travisci-phpunit.xml
web.config.txt
